---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
    </div>
  </header> <!-- End Header -->
  <footer>
    <div id="content">
        <canvas id="SphereWave" data-processing-sources="{{site.baseurl}}/assets/js/SphereWave.pde" width="100" height="100">
            <p>Your browser does not support the canvas tag.</p>
            <!-- Note: you can put any alternative content here. -->
        </canvas>
        <noscript>
            <p>JavaScript is required to view the contents of this page.</p>
        </noscript>
    </div>
    <section class="contact">
      <ul class="icons">
        <li><a href="https://twitter.com/BKhamissi"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://github.com/BKHMSI"><i class="fa fa-github"></i></a></li>
        <li><a href="https://eg.linkedin.com/in/bkhmsi"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="mailto: badr [at] khamissi.com"><i class="fa fa-envelope-o"></i></a></li>
      </ul>   
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p> &copy; {{site.time | date: '%Y'}} {{site.author}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
